.header{
	@extend %clearfix; 
	margin-top: 30px;
	padding: 20px 10px 5px;
	color: $white-colour;
	text-align: center;

	.main-heading{
		@include font-size($text-size--xxx-large);
		margin-bottom: 0;

		@include phone{
			@include font-size(54px);
		}

		 @include deskop_tablets{
			@include font-size(58px);
		 }
	}
}





